.auto-full-width.el-date-editor.el-input,
.auto-full-width.el-date-editor.el-input__inner {
	width: 100% !important;
}

// 设置rk-layout-main-content 里边的表格去掉左右边框

:deep(.rk-layout-main-content .vxe-table--border-line) {
	border-left: unset;
	border-right: unset;
	z-index: 3;
}

.progress-message .el-message__closeBtn {
	top: 20% !important;
	right: 8px !important;
}

// 一些距离样式定义
.mr-12 {
	margin-right: 12px;
}

.ml-12 {
	margin-left: 12px;
}

.mt-12 {
	margin-top: 12px;
}

.mb-12 {
	margin-bottom: 12px;
}
