.rk-form-render-container {
	height: 100%;
	:deep(.render-form),
	:deep(.tab-container),
	:deep(.el-tabs),
	:deep(.el-tab-pane) {
		height: 100%;
	}
	:deep(.render-form > .container-wrapper) {
		// &:nth-last-child(1) {
		//   height: 100%;
		// }
		&:only-child {
			height: 100%;
		}
	}
	:deep(.el-tabs) {
		display: flex;
		flex-direction: column;
	}
	:deep(.el-tabs__header) {
		background-color: #e3f1fe;
		margin-bottom: 0;
	}
	:deep(.el-tabs__nav-scroll) {
		padding: 0 5px;
	}
	:deep(.el-tabs__content) {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		// padding-top: 15px;
	}
	:deep(.el-tab-pane) {
		.tab-pane-item:first-child {
			margin-top: 15px;
		}
		.tab-pane-item:nth-last-child(1) {
			margin-top: 0;
		}
		.upload-main {
			padding: 0;
			position: relative;
			// top: -15px;
			border-top: 1px solid #ececec;
		}
		// 处理插槽样式
		.slot-widget-item {
			flex: 1;
			min-height: 300px;
			.static-content-item,
			.slot-wrapper-render {
				height: 100%;
			}
		}
	}
}
